<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>media player</title>
    <link href="/assets/bplayer/bootstrap/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <link href="/assets/bplayer/bplayerstyles.css" rel="stylesheet" type="text/css"/>
    
</head>
<body>

    <button id="button" class="btn btn-outline-primary" aria-roledescription="tooltip">  i am a button </button> 
    <div id="tooltip" role="tooltip"> i am tooltip</div>
    <div id= "po">
        checking popper
    </div>
   <div class="container  btn-primary">hello world media player</div>
   <script src="/assets/bplayer/bootstrap/js/popper.js"></script>
   <script src="/assets/bplayer/bootstrap/js/jquery.js"></script>
   <script src="/assets/bplayer/bplayerscript.js"></script
   <script src="/assets/bplayer/bootstrap/js/bootstrap.js"></script>
    
</body>
</html>