<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whatsapp</title>
</head>
<body>
  
    <div>
    
        <img id="qrcodeImage" src="" alt="" srcset="">
    </div>
       
        <input disabled="true" style='display: none;' id="url" value=<%=url%>/>
  
</body>
<script src="socket.io/socket.io.js"></script>
<script src="frontEnd/index.js"></script>

</html>