<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" id="bootstrap-css">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container text-center"> <hr> 
        <p>Upload video files here</p><hr>
        <form method="POST" action="upload">
       <div class=" input btn btn-secondary"> <p><input type="file" name=" video"> Choose video file</p>
        <div class=" input btn btn-secondary"> <p><input type="file" name=" tumbnail">choose video poster</p>
        <p><input type="submit"  class=" btn btn-primary " value="upload"></input></p>
        </div>
        
    </form>
    </div>


    <script src="/assets/jquery.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/frontEnd.js"></script>
</body>
</html>