<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gen code</title>
</head>
<body>
    <div>
        <img id="whatsappcodeImage" src="" alt="image" srcset="">
    </div>
</body>
<script src="frontEnd/index.js"></script>
</html>